/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo general */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

/* Encabezado */
header {
    color: #fff;
    text-align: center;
    padding: 50px 0;
    background-size: cover;
    background-position: center;
    width: 100%;
    box-sizing: border-box;
}

header h1 {
    font-size: 2.5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Estilo del botón para abrir/ocultar el menú */
.menu-toggle {
    font-size: 30px;
    color: #343a40;
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 2000;
}

/* Barra de navegación lateral */
nav {
    background-color: #343a40;
    position: fixed;
    top: 0;
    left: -250px; /* Menú inicialmente oculto */
    bottom: 0;
    width: 250px;
    padding-top: 20px;
    transition: left 0.3s ease-in-out;
    z-index: 1000;
}

#sidebar ul {
    list-style: none;
}

#sidebar ul li {
    margin-bottom: 20px;
}

#sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    display: block;
    padding: 10px;
}

#sidebar ul li a:hover {
    background-color: #00bfff;
}

/* Submenú desplegable */
.submenu {
    position: relative;
}

.submenu .dropdown {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #343a40;
    min-width: 200px;
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
    border-radius: 5px;
}

.submenu:hover .dropdown {
    display: block;
}

.submenu .dropdown li {
    margin-bottom: 10px;
}

.submenu .dropdown li a {
    font-size: 1rem;
    padding: 10px;
    color: white;
}

.submenu .dropdown li a:hover {
    background-color: #007b8c;
}

/* Contenido principal */
section {
    margin-left: 270px;
    padding: 20px;
    text-align: center; /* Centrar el contenido */
    width: 80%; /* Limitar el ancho del contenido */
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.5rem;
    color: #343a40;
    margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
    font-size: 1rem;
    line-height: 1.5;
}

/*Pie de pagina*/
footer {
    background-color: #343a40;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .top-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

footer .top-footer img {
    width: 50px;
    margin-right: 20px;
}

footer .top-footer p {
    font-size: 1rem;
    margin: 0;
}

footer .patrocinadores {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
}

footer .patrocinadores a img {
    width: 100px;
    height: auto;
}

footer .copyright {
    font-size: 0.9rem;
    text-align: center;
    margin-top: 20px;
    width: 100%;
}



/* Estilos para hacer que el menú se muestre */
#sidebar.show {
    left: 0;
}

/* Ajustes para la barra de navegación fija */
@media screen and (max-width: 768px) {
    section {
        margin-left: 0;
    }
}
